---
import { getI18N } from '../i18n';

const {currentLocale} = Astro
const i18n = getI18N({currentLocale})

const {DESCRIPTION_1, DESCRIPTION_2, DESCRIPTION_3} = i18n
---

<section class="w-3/4 mx-auto py-14 flex flex-col gap-4 text-pretty">
    <p set:html={DESCRIPTION_1}></p>
    <p set:html={DESCRIPTION_2}></p>
    <p set:html={DESCRIPTION_3}></p>
</section>